extends ../layout

block content
  .centered
    h1(style='text-align: center') View All Users Here
    table.all_users.pure-table.pure-table-bordered.centered
      thead
        tr.centered-text
          th Username
          th Email
          th Edit
          th Delete
      tbody
        - each user, i in users
            tr
              td
                  = user.username
              td
                  = user.email
              td
                      a(href='/users/#{user._id}/edit') Edit
              td
                  form(action='/users/#{user._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                      input(type='hidden',value='DELETE',name='_method')
                      button(type='submit').
                          Delete
    br
