extends ../layout

block content
  .centered
    h1.centered-text Insert Coin
    form.pure-form.pure-form-aligned.reg_form(action='/users', method='post')
      fieldset
        .pure-control-group
          label(for='username') Username
          input#username(type='text', name='username', placeholder='Username', required='')
        .pure-control-group
          label(for='password') Password
          input#password(type='password', name='password', placeholder='Password', required='')
        .pure-control-group
          label(for='email') Email Address
          input#email(type='email', name='email', placeholder='Email Address', required='')
        br
        div
          button.pure-button.pure-button-primary.reg_form_submit(type='submit') Submit
      br
      br
      br
      a.centered.already_member(href='#') Already a member?
      br
      br
  br
  br
  br
