extends ../layout

block content
    h1.
        #{title}
    form#formAddUser(name="adduser",method="post",action="/users")
        p Username:
            input#inputUsername(type="text", placeholder="ex. John Smith", name="username")
        p Email:
            input#inputEmail(type="email", placeholder="ex. 123456", name="email")
        p Password:
            input#inputPassword(type="password", name="password")
        p
            button#btnSubmit(type="submit") submit
