extends ../layout

block content
  .centered
    h1.centered-text User Details
    p.centered-text Username: #{user.username}
    p.centered-text Email: #{user.email}
    br
    br
    a.centered.centered-text(href="/users") Return to Index
