extends layout

block content
  div
        h1.landing.centered-text Welcome to GameConnect
        img(src='/images/gameconnect.jpg', style='display: block; margin-left: auto; margin-right: auto')
        br
