doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/pure-min.css', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  body(class="centered")
    .pure-menu.pure-menu-horizontal
      a.pure-menu-link.upper-left-nav.styled-a(href='/') GameConnect
      ul.pure-menu-list
        li
          a.pure-menu-link.upper-left-nav.styled-a(href='/users/new') Sign up
        li
          a.pure-menu-link.upper-left-nav.styled-a(href='/games') Games
    block content
  footer
    p © GameConnect 2015
