extends ../layout

block content
  h3 Add a New Game
  form(action='/games', method='post')
    fieldset
      div
        label(for='title') Title
        input#title(type='text', name='title', placeholder='Title')
      div
        label(for='platform') Platform
        input#platform(type='text', name='platform', placeholder='Platform')
      div
        label(for='developer') Developer
        input#developer(type='text', name='developer', placeholder='Developer')
      div
        label(for='genre') Genre
        input#genre(type='text', name='genre', placeholder='Genre')
      div
        button(type='submit') Submit
