extends ../layout

block content
  .centered
    h1.centered-text Game Details
    p.centered-text Name: #{game.title}
    p.centered-text Platform: #{game.platform}
    p.centered-text Developer: #{game.developer}
    p.centered-text Genre: #{game.genre}
    br
    a.centered.centered-text(href="/games") Return to Index
